form label{
    
    display: block;
}
.forms label{
    margin-bottom: 5px;
    font-size: 20px;
}
.forms input{
    margin-left: 7px;
    font-size: 20px;
    border-radius: 5px;
    border: 0.5px solid rgb(75, 72, 72)
}
form fieldset{
    width:25%;
    margin-top: 10px;
    
}
